{% extends "base_generic.html" %}

{% block content %}
    <h1>Nom: {{ author.first_name }} {{ author.last_name }}</h1>

    <p><strong>Date de naissance:</strong> {{ author.date_of_birth }}</p> <!-- author detail link not yet defined -->
    <p><strong>Date de décès:</strong> {% if not author.date_of_death %} / {% endif %}{{ author.date_of_death }}</p>

    <div style="margin-left:20px;margin-top:20px">
        <h4>LIvres</h4>

        {% for book in author.book_set.all %}
            <hr>
            <a href="{{ book.get_absolute_url }}">{{ book.title }}</a>({{ book.bookinstance_set.all.count }})
            <p>{{ book.summary }}</p>
        {% endfor %}
    </div>
{% endblock %}